p {
    margin-top: 2px;
    margin-bottom: 2px;
}

ol {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: lightgray;
    margin-left:5px;
    margin-right:5px;
}

#mapContainer {
    padding: 10px;
    overflow: hidden;
    background-image:url("../image/background.png");
    border:1px solid green;
}

#setStartProject {
    background-color: orange;
    color: white;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    width: 300px;
    cursor: pointer;
    text-align: center;
}

#currentMapContainer {
    float: left;
	border: 1px solid red;
	display: inline-block;
	overflow: scroll;
	white-space:nowrap;
	width: 736px;
	height: 480px;
	background-color: white;
}

#turnChipEditContainer {
    border: 1px solid red;
}

#turnChips {
    height: 450px;
    overflow: scroll;
}

#transitionMap {
    float: left;
	border: 1px solid red;
	display: inline-block;
	overflow: scroll;
	white-space:nowrap;
	width: 320px;
	height: 320px;
	background-color: white;
}

#mapDataContainer {
    float: left;
	border: 1px solid red;
	display: inline-block;
}

.mapSpans {
    width: 100px;
    height: 80px;
}

#mapTypeName {
    margin:0px;
}

.registerdEvents {
    cursor: pointer;
}

#addEvent {
    background-color: orange;
    color: white;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    width: 130px;
    cursor: pointer;
    text-align: center;
}

#addObject {
    background-color: orange;
    color: white;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    width: 160px;
    cursor: pointer;
    text-align: center;
}

#deleteEvent {
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    width: 130px;
    cursor: pointer;
    text-align: center;
}

#changeObject {
    background-color: lightgreen;
    color: white;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    /*width: 130px;*/
    cursor: pointer;
    text-align: center;
}

#deleteObject {
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 1px;
    margin:0px;
    /*width: 130px;*/
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

.changeEventOrder {
    background-color: blue;
    color: white;
    border-radius: 30px;
    padding: 0px;
    margin:0px;
    width: 130px;
    cursor: pointer;
    text-align: center;
}

#editEventContainer {
    border: 1px solid blue;
    display: none;
}

#editObjectContainer {
    border: 1px solid blue;
    display: ;
}

.event {
    margin: 2px;
    background-color: green;
    color: white;
    cursor: pointer;
    text-align: center;
}

.object {
    margin: 2px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    text-align: center;
}

#mapEvent {
    border: 1px solid green;
    margin: 2px 2px 2px 2px;
    background-color: white;

}

#mapObject {
    border: 1px solid green;
    margin: 2px 2px 2px 2px;
    background-color: white;    
}

#editEvent {
    border: 1px solid green;
    display: none;
}

#editEvent2 {
    border: 1px solid blue;
    display: none;
}

#editBGMContainer {
    border: 1px solid pink;
    display: none;
}

#registEvent, #registObject {
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 3px;
    margin:0px;
    width: 130px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
}

#projectsContainer {
    overflow: hidden;
}

.eachMapContainer {
float: left;
margin: 0px 3px;
}

#newCharacter {
    /* 高さ認識用 */
    overflow:hidden;
}

.eachCharacterContainer {
    /* display: inline; */
    float: left;
    margin: 0px 3px;
}

.eachCharacterContainer img {
    display: block;
}

.registeredCharacterContainer {
    /* display: inline; */
    float: left;
    margin: 0px 3px;
}

.registeredCharacterContainer img {
    display: block;
}

.eachSkillContainer {
    /* display: inline; */
    float: left;
    margin: 0px 3px;
}

.eachSkillContainer img {
    display: block;
    width: 50%;
}

.registeredSkillContainer {
    /* display: inline; */
    float: left;
    margin: 0px 3px;
}

.registeredSkillContainer img {
    display: block;
}

.eventCharacterContainer {
    border: 1px solid green;
    float: left;
}

.eventCharacter {
    border: 1px solid green;
    overflow: scroll;
	white-space:nowrap;
	height: 480px;
}

#oldSkills {
    overflow: hidden;
}

.registeredSkillContainer {
    float: left;
    margin: 3px 3px;
    border: 1px solid lime;
}
.registeredSpecialSkillContainer {
    float: left;
    margin: 0px 3px;
    border: 1px solid red;
}

.registeredToolContainer {
    float: left;
    margin: 3px 3px;
    border: 1px solid lime;
}

#charaObjContainer {
}

#toolObjContainer {
}

.imagesContainer {
    max-height: 250px;
    overflow: scroll;
    border: 1px solid lime;
}

#soundLists {
    border: 1px solid green;
    height: 300px;
    width: 400px;
    overflow: scroll;
}

#targetMoveChipContainerParent {
    /* 高さ認識用 */
    overflow:hidden;
}
.targetMoveChipContainer {
    border: 1px solid green;
    float: left;
}

#targetSceneEventContainerParent {
    /* 高さ認識用 */
    overflow:hidden;
}
.targetSceneEventContainer {
    border: 1px solid yellow;
    float: left;
}

#cutSceneLists {
    height: 150px;
    width: 300px;
    overflow: scroll;
    border: 1px solid yellow;
}

.cutScene_specialSkill , .cutScene_scene {
    width:30%;
}

#selectedCutScene {
    height: 144px;
    width: 240px;
}

.eachBattleOrderContainer {
    border: solid lime 1px;
}

.battleTalkContainer, .skillTalkContainer{
    height: 96px;
    overflow: scroll;
    display: inline-block;
}

